
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Home", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.Name + "!", "Details", "Patient", routeValues: new { area = "" }, htmlAttributes: new { title = "Details" })
            </li>
            <li>
                @Html.ActionLink("Log Off ", "Logout", "Home", routeValues: new { area = "" }, htmlAttributes: new { title = "logoutForm" })
                @*<a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Log off</a>*@
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Home", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Home", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
